{% load i18n startup_tags %}<div class="nw-author">
    {% include "lounge/_author_avatar.html" with author=author %}
    <div class="nw-author__text">
        <div class="nw-author__line">
            <span class="nw-author__company">{{ author.company_name }}</span>
            {% if author|is_pro_partner %}{% pro_badge author %}{% elif author.is_fully_verified %}<span class="nw-verified" title="{% trans 'Verified startup' %}"><i class="bi bi-patch-check-fill"></i></span>{% endif %}
        </div>
        {% with name=author.user.get_full_name %}{% if name %}<span class="nw-author__person">{{ name }}</span>{% endif %}{% endwith %}
    </div>
</div>
